/*
* Menu et bandeau
 */
.navbar{
    background-color: rgba(178, 135, 73, 1);
    /*color: #000000;*/
}

.navbar-brand{
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand img {
    margin-left: 15px;
    height: 100%;
    width: auto;
}

#titre-nav{
    color: black;
    margin-left: 10px;
}

.navbar-inverse .navbar-nav li a{
    color: black;
}

#titre-nav:hover,
#titre-nav:focus,
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:focus{
    color: white;
}

.jumbotron{
    background-image: url("../images/jumbotron.jpg");
    /*background-size: cover;*/
    background-size: 100% 100%;
    height: 200px;
    margin-top: 60px;
}

/*
* Général
 */
body{
    background-image: url("../images/fond1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.corps, footer{
    background-color: rgba(178, 135, 73, 0.5);
    padding-top: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

footer{
    padding-top: 10px;
}

#contenu-principal, footer p{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.table-recap-ticket{
    width: 100%;
    border: 1px solid black;
}

.table-recap-ticket th, .table-recap-ticket td{
    padding: 5px;
}

#recapCommande{
    text-align: center;
}

/*
* Page info-ticket
 */
.ddn-form{
    display: inline-flex;
}

/*.form-group i{*/
    /*text-align: left;*/
/*}*/

/*
* Responsive du site
 */

@media all and (max-width: 768px){
    .jumbotron{
        /*margin-left: -15px;*/
        margin-left: 0;
        /*margin-right: -15px;*/
        margin-right: 0;
        margin-top: 50px;
        margin-bottom: 0;
        height: 150px;
        /*padding: -5px*/
        /*padding-left: 10px;*/
    }

    .corps, footer{
        /*padding-left: 0;*/
        /*padding-right: 0;*/
        margin-left: 0;
        margin-right: 0;
        /*width: 100%;*/

        padding: 5px;
        /*background-color: transparent;*/
    }

    footer p{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        margin: 0;

    }

    #contenu-principal{
        /*padding: 0;*/
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;

    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    /*body{*/
        /*margin-right: 0;*/
    /*}*/
}