<!DOCTYPE html>
<html>
   <head>
       <title>Bienvenue sur ma page d'accueil !</title>
   </head>
   <body>
       <h1>Hello World !</h1>
       
       <p>
           Message de bienvenue pour vérifier que l'installation Symfony + bundle Reservation sont ok.
       </p>
   </body>
</html>