<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Réservation Louvre{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        {# A voir ici pour les icones panier et home #}
        
        {# A voir ici pour le logo et le titre #}
        
        {% block body %}
        {% endblock %}
        
    </body>
</html>