<div class="row manage-commande">
    <a class="btn btn-warning col-sm-offset-3 col-sm-3 col-xs-offset-2 col-xs-8"
       href="{{ path('home', { 'resetCommande': true } ) }}">Annuler ma commande</a>

    <a class="btn btn-success col-sm-3" href="{{ path( pathModifyCommande ) }}">
        Modifier ma commande</a>
</div>
<br />